
/* Configurações padrões do site. */
* {
    font-family: "Inter", sans-serif;
	list-style: none;
}

::selection {
	background-color: #1cfff7;
	color: #6229ff;
}

body {
    margin: 0px;
    padding: 0px;
}

.background {
	background: url("../../assets/images/fundo.png") repeat-y center top;
	width: 100%;
	z-index: -1;
}

/* Barra de navegação */
body::-webkit-scrollbar {
	width: 12px;
}
  
body::-webkit-scrollbar-track {
	background: rgb(0, 0, 0);
}
  
body::-webkit-scrollbar-thumb {
	background-color: #3bb4b4;
	border-radius: 20px; 
	border: 3px solid rgb(0, 0, 0);
}

/* Estilizando barra de pesquisa. */
.barra-de-pesquisa {
	border: none;
	background-color: transparent;
	font-style: italic;
	font-size: 15px;
}

.input-button {
	background-color: rgb(48, 160, 160);
	border-radius: 20px;
	border: none;
	height: 25px;
	margin: -2px -2px -2px 0;
	width: 85px;
	color: #ffffff;
	font-weight: 1000;
	font-size: 15px;
}

.procura {
	border: 2px solid #ffffff;
	outline: auto;
  	display: inline-block;
 	padding: 4px;
	border-radius: 20px;
}

/* Configuração do primeiro container. */
.container {
	display: flex;
	background: #1b1b1b;
	max-width: 100%;
	height: 135px;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.menu nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container ul {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

.container a {
	color: #ffffff;
	text-decoration: none;
	font-weight: 500;
}

.dropdown {
	float: left;
}

.dropdown li{
	position: relative;
	float: left;
}

.dropdown li a {
	color: #ffffff;
	text-decoration: none;
	padding: 5px 10px;
	display: block;
}

.dropdown li ul {
	position: absolute;
	top: 25px;
	left: 0;
	background-color: #1b1b1b;
	display: none;
}

.dropdown li:hover ul, .dropdown li.over ul {
	display: block;
}

.dropdown li ul li {
	display: block;
	width: 150px;
}

/* Configuração do submenu */
.sub-menu {
	display: flex;
	width: 100%;
	height: 75px;
	background: #14141c;
	justify-content: center;
	align-items: center;
}

.sub-menu2 .item-block {
	display: flex;
	gap: 40px;
	font-size: 15px;
}

.sub-menu a {
	color: #3bb4b4;
	text-decoration: none;
	list-style: none;
}

.dropdown2 { 
	float: left; 
	font-size: 18px;
}
.dropdown2 li { 
	position: relative;
	float: left;
}

.dropdown2 li a {
	color: #ffffff;
	text-decoration: none;
	padding: 5px 10px;
	display: block;
}

.dropdown2 li ul {
	position: absolute;
	top: 25px;
	left: 0;
	background-color: #242323;
	display: none;
	line-height: 30px;
}

.dropdown2 li:hover ul, .dropdown2 li.over ul {
	display: block;
	width: 125px;
	z-index: 2;
}

input:focus {
	outline: none;
	border: 1px solid transparent;
}

input {
	color: #b4b4b4;
	font-weight: bolder;
    font-size: 16px;
    line-height: 19px;
}

/* Configuração do header */


@keyframes headerColor {
	from {background-color: #1b1b1b;}
	to {background-color: #ffffff;}
}

header {
	background-color: #ffffff;
	height: 1350px;
	max-width: 85%;
	display: flex;
	z-index: 1;
	margin-top: 1050px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation-name: headerColor;
    animation-duration: 2s;
}
/* Conteúdo do header. */
.ad img {
	left: 35%;
	position: relative;
	max-width: 28%;
	max-height: 10%;
}

.image {
	max-width: 100%;
	max-height: 65%;
	margin: 5vh;
}

.item-medium-column {
	display: flex;
	flex-direction: column;
	margin: 5vh;
}

.principais-destaques-da-capa {
	flex-grow: 1;
	display: flex;
	width: 100%;
}

.nerdcast-896 {
	color: #3bb4b4;
	text-decoration: none;
	text-transform: uppercase;
}